{% extends 'registration/base_unlogged.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Change password{% endblocktrans %}{% endblock %}

{% block subtitle %}{% blocktrans %}Change password{% endblocktrans %}{% endblock %}


{% block content %}
  <form action="{% url "password_change" %}" method="post" id="login-form" class="form t01">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset style="width: 340px; margin: 0 auto;">
      <div class="fldgrp">
        <div class="fld">
          <label class="lbl">
          <b>{% blocktrans %}Old password:{% endblocktrans %}</b>
          {{ form.old_password }}
          {{ form.old_password.errors }}
          </label>
        </div>
        <div class="fld">
          <label class="lbl">
          <b>{% blocktrans %}New password:{% endblocktrans %}</b>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}
          </label>
        </div>
        <div class="fld">
          <label class="lbl">
          <b>{% blocktrans %}Password (again):{% endblocktrans %}</b>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
          </label>
        </div>
      </div>
      <div class="actions">
        <button class="btn t03" type="submit">{% blocktrans %}Change my password{% endblocktrans %}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
