{% extends 'registration/base_unlogged.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Password reset{% endblocktrans %}{% endblock %}

{% block subtitle %}{% blocktrans %}Password reset{% endblocktrans %}{% endblock %}

{% block content %}
  <p>{% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.{% endblocktrans %}</p>

  <form action="{% url "password_reset" %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
      <div class="fld">
        <label class="lbl">
        <b>{% blocktrans %}E-mail address{% endblocktrans %}</b>
        {{ form.email }}
        {{ form.email.errors }}
        </label>
      </div>

      {{ form.captcha }}
      {{ form.captcha.errors }}
      <!-- <p><input type="submit" value="Reset my password" /></p> -->

      <div class="actions">
        <button class="btn t03" type="submit">{% blocktrans %}Reset my password{% endblocktrans %}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
