<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% blocktrans %}Page unavailable{% endblocktrans %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/daywatch.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
  </head>
  <body>
    <h1>{% blocktrans %}Page unavailable{% endblocktrans %}</h1>
    <p>{% blocktrans %}Sorry, the requested page is unavailable.{% endblocktrans %}</p>
    <p>{% blocktrans %}Our team have been notified, please check back later.{% endblocktrans %}</p>
  </body>
</html>
