{% extends "base_panel.html" %}
{% load i18n %}
{% load humanize %}
{% load widget_tweaks %}

{% block sidebar %}
  <form method="get" action="{% url "analytics_div" %}" id="panel-form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_country" class="col-md-2 control-label" data-toggle="tooltip">
        {% blocktrans %}Country:{% endblocktrans %}
      </label>
      <div class="col-md-8 pull-right">
        {{ form.country | add_class:"form-control"}}
      </div>
    </div>

    <div class="form-group">
      <label for="id_period" class="col-md-2 control-label" data-toggle="tooltip">
        {% blocktrans %}Period:{% endblocktrans %}
      </label>
      <div class="col-md-8 pull-right">
        {{ form.period | add_class:"form-control" }}
      </div>
    </div>

    <div id="dates_div">
      <div class="form-group">
        <label for="id_start_date" class="col-md-2 control-label">
          {% blocktrans %}Start Date:{% endblocktrans %}
        </label>
        <div class="col-md-8 pull-right">
          {{ form.start_date | add_class:"form-control" }}
        </div>
      </div>

      <div class="form-group">
        <label for="id_end_date" class="col-md-2 control-label">
          {% blocktrans %}End Date:{% endblocktrans %}
        </label>
        <div class="col-md-8 pull-right">
          {{ form.end_date | add_class:"form-control" }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="id_metric" class="col-md-2 control-label" data-toggle="tooltip">
        {% blocktrans %}Metric:{% endblocktrans %}
      </label>
      <div class="col-md-8 pull-right">
        {{ form.metric | add_class:"form-control" }}
      </div>
    </div>

    <fieldset class="companies">
      <strong>{% blocktrans %}Companies:{% endblocktrans %}</strong>
      <span>
        {{ form.all_companies }}
        <span onclick="toggleAllCompanies();">
          {% blocktrans %}All Companies{% endblocktrans %}
        </span>
      </span>
      {% if form.companies_select_type %}
        <span>
          {% blocktrans %}Result:{% endblocktrans %}
        </span>
        {{ form.companies_select_type }}
      {% endif %}
      {{ form.players }}
    </fieldset>

    <fieldset class="fields">
      <strong>{% blocktrans %}Fields:{% endblocktrans %}</strong>
      {{ form.fields }}
    </fieldset>

    <section class="actions">
      <button id="refresh" type="button" class="btn btn-primary btn-lg" data-toggle="tooltip">
        {% blocktrans %}Update{% endblocktrans %}
      </button>
    </section>
  </form>
{% endblock %}

{% block content %}
  <div id="results">
    {% include "includes/no_data.html" %}
  </div>
  <script>
   action_url = "{% url 'trends_div' %}";
   nav = "trends";
  </script>
{% endblock %}
